body{
    background-image: url("/pictures/page_back1.jpg");
    background-size: cover;
}
.container{
    background-color: white;
}
#index_cover{
    padding: 300px;
    background-image: url("/pictures/cover2.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}
